version: '3'


services:

  mariadb:
    image: docker.io/rkrahl/mariadb
    volumes:
      - ./mariadb/init:/etc/mysql.d:ro
      - db:/var/lib/mysql
    networks:
      default:
        aliases:
          - mysql

  icat:
    image: ${IMAGE}
    depends_on:
      - mariadb
    ports:
      - "443:8181"
    volumes:
      - ./icat/certs:/etc/glassfish/certs:ro
      - ./icat/icat-config:${GLASSFISH_HOME}/etc/icat:ro
      - gfdomain:${GLASSFISH_HOME}/glassfish/domains
      - storage:/srv/ids/storage
    environment:
      GF_DOMAIN_LIBS: ${GF_DOMAIN_LIBS}


volumes:
  db:
  gfdomain:
  storage:
